{% extends '../base.html' %} {% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="center-align border-b">
                <img class="circle" src="{{question.user.url_foto}}" alt="">
                <br>
                <small>{{ question.user.displayName }}</small>
                <h3>{{ question.title }}</h3>
                <p>{{ question.content }}</p>
                <!-- Modal Trigger -->
                {% if (user) %}
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Responder</a> {% else %}
                <a href="/login">Inicia sesion para responder</a> {% endif %}
            </div>
            <br>
            <!-- Modal Structure -->
            <div id="modal1" class="modal bottom-sheet">
                <div class="modal-content">
                    <h4>Modal Answer</h4>
                    <form>
                        <div class="row">
                            <div class="input-field col s8">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">Textarea</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="answer border-b">
                <div class="row">
                    <div class="col s1">
                        <img class="circle" src="/img/user3-128x128.jpg" height="60" width="60" alt="">
                    </div>
                    <div class="col s11">
                        <a href="#" class="vertical-m2">Erika Salas</a>
                        <p class="edit-p">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam esse alias aperiam ipsam blanditiis quam voluptatem tenetur odit iste officia! Recusandae assumenda atque dicta iste in nihil natus quod nesciunt, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolorum eius quisquam commodi ea.
                        </p>
                    </div>
                </div>
            </div>
            <div class="answer border-b">
                <div class="row">
                    <div class="col s1">
                        <img class="circle" src="/img/user3-128x128.jpg" height="60" width="60" alt="">
                    </div>
                    <div class="col s11">
                        <a href="#" class="vertical-m2">Erika Salas</a>
                        <p class="edit-p">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam esse alias aperiam ipsam blanditiis quam voluptatem tenetur odit iste officia! Recusandae assumenda atque dicta iste in nihil natus quod nesciunt, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolorum eius quisquam commodi ea.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
