{% extends '../base.html' %} {% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="center-align border-b">
                <img class="circle" src="/img/user3-128x128.jpg" height="90" width="90" alt="">
                <br>
                <small>Erika Salas</small>
                <h3>Como configuro mi computadora?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit iste dignissimos voluptas maiores quod perferendis culpa necessitatibus, sequi saepe nulla facere dolor minus repellat libero, non tempore voluptatibus asperiores nesciunt! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cupiditate, provident, inventore eaque ad voluptatum officiis natus libero ducimus voluptate explicabo expedita voluptatem dolores! Accusamus ullam ad ipsa quod dolor?</p>
            </div>
				<br>
            <div class="answer">
					<div class="row">
						<div class="col s1">
								<img class="circle" src="/img/user3-128x128.jpg" height="60" width="60" alt="">
						</div>
						<div class="col s11">
							  <a href="#" class="vertical-m">Erika Salas</a> 
	            		<p class="edit-p">
	            			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam esse alias aperiam ipsam blanditiis quam voluptatem tenetur odit iste officia! Recusandae assumenda atque dicta iste in nihil natus quod nesciunt, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolorum eius quisquam commodi ea.
	            		</p>
						</div>
					</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
