@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*font-family: 'Ubuntu', sans-serif;*/
body {
	font-family: 'Open Sans', sans-serif;
}

.nav-color {
	background-color: white;
}

nav ul a {
	color: darkslategrey;
}

.icon {
	padding-top: 7px;
}

nav .brand-logo {
	padding-left: 10px;
	color: darkslategray;
}

nav ul a:hover {
	color: darkslategrey;
}

.font-folk {
	font-family: 'folksregular';
}

.btn {
	text-transform: none;
}

.tab2 {
	float: none;
}
.tabs-color{
	background-color: #f6f5f3;	
}

.image{
	padding-top:50px;
	padding-bottom: 50px;
	background: url(../img/code.jpg) no-repeat fixed;
	background-size: cover;
	height: 500px
}

.edit-photo{
	margin-top: 7px;
}

.move-down{
	margin-top: 80px;
	color:#fff
}
#coments{
	padding:20px 0;
	background-color: #f4f4f4;
}

.one-coment {
	padding-bottom: 10px;
	border-bottom: 2px solid #ebebeb;
}

.border-b{
	padding-top: 20px;
	padding-bottom: 15px;
	border-bottom: 3px solid #ebebeb;
}

.edit-p{
	  padding-left: 10px;
  	   margin-top: -30px;
}

.display-coments {
	display: inline-block;
}

.title-coment {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	font-weight: bold;
	color: #333337;
}

.title-coment:hover {
	font-weight: bold;
	color: darkgrey;
}

.img-s {
	margin-bottom: -50px;
}

.input-field input[type=search] {
	padding-left: 20px;
	width: 210px;
}
