@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*font-family: 'Ubuntu', sans-serif;*/
body {
	font-family: 'Open Sans', sans-serif;
}

.nav-color {
	background-color: white;
}

nav ul a {
	color: darkslategrey;
}


.icon {
	padding-top: 7px;
}

nav .brand-logo {
	padding-left: 10px;
	color: darkslategray;
}

nav ul a:hover {
	color: darkslategrey;
}

header h3{
	  letter-spacing: 1px;
  line-height: 60px;
} 

.image{
	padding-top:50px;
	padding-bottom: 50px;
	background: url(../img/code.jpg) no-repeat fixed;
	background-size: cover;
	height: 400px
}

.image2{
	padding-top:50px;
	padding-bottom: 50px;
	background: url(../img/spring.jpg) no-repeat fixed;
	background-size: cover;
	height: 300px
}

.btn {
	text-transform: none;
}

.tab2 {
	float: none;
}
.tabs-color{
	background-color: #f6f5f3;	
}


.edit-photo{
	margin-top: 7px;
}


.one-coment {
	padding-bottom: 10px;
	border-bottom: 2px solid #ebebeb;
}

.border-b{
	padding-top: 10px;
	border-bottom: 1px solid #ebebeb;
}

.edit-p{
	  padding-left: 10px;
  	   margin-top: -30px;
}

.display-coments {
	display: inline-block;
}

.title-coment {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	font-weight: bold;
	color: #333337;
}

.title-coment:hover {
	font-weight: bold;
	color: grey;																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											rey;
}

.img-s {
	margin-bottom: -50px;
}

.input-field input[type=search] {
	padding-left: 20px;
	width: 210px;
}

.top-5{
	color: darkslategray;
	padding-bottom: 12px;
}

footer{
	color:whitesmoke;
	width: 100%;
	height: 270px;
	background-color: #111111;
}

.box-footer{
	height: 66px;
	background-color: #0C0C0C;
}

footer .copyright, .icon-footer{
	margin-top: 16px;
}

.information-footer{
	padding-top: 10px;
}

.right-icon{
	position: absolute;
	right: 376px;
}

.margin-date{
	margin-top: 6px;
}

.move-sociallike{
	padding-bottom: 20px;
}

.box-login{
	margin-left: 90px !important; 
	padding: 20px !important;
	border: 2px solid #ebebeb;
	border-radius: 3px;
}

.box-login2{
	margin-left: 25px !important;
	padding: 20px !important;
	border: 2px solid #ebebeb;
	border-radius: 3px;
}

.contact-footer{
	padding-bottom: 10px;
}

.hrsidebar{
	border: 2px solid #2196F3;
	width: 50px;
}