{% extends '../base.html' %} {% block content %}
<header>
    <div class="image">
        <div class="container">
            <div class="row">
                <div class="col s12 center-align move-down">
                    <h2>Bienvenido a Hackask!</h2>
                    <h3>Sistema de discucion para programadores</h3>
                    <a data-scroll href="#coments" class="waves-effect waves-light btn">Comentarios</a>
                    <a class="waves-effect waves-light btn">Chat</a>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="coments">
    <div class="container">
        <div class="row">
            <div class="cols 12 center-align">
                <h4>Sistema de discuciones para programadores</h4>
                <!-- Modal Trigger -->
                <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Formula tu pregunta</a>
                <!-- Modal Structure -->
                <div id="modal1" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Alguna duda?</h4>
                        <p>Pregunta lo que quieras!</p>
                        <br>
                        <div class="row">
                            <form class="col s12" method='post' action="/save-question">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="last_name" name="title" type="text" class="validate">
                                        <label for="last_name">Titulo</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea id="textarea1" name="content" class="materialize-textarea"></textarea>
                                        <label for="textarea1">Contenido</label>
                                    </div>
                                </div>
                                <button type='submit' class="waves-effect waves-light btn">Preguntar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <ul class="tabs tabs-color">
                    <li class="tab col s3"><a class="active" href="#test1">Todos</a></li>
                    <li class="tab col s3"><a href="#test2">Top 5</a></li>
                    <li class="tab col s3"><a href="#test3">Favoritos</a></li>
                </ul>
                <br>
            </div>
        </div>
        <div class="row">
            <div id="test1">
                <div class="valign-wrapper col s10 offset-s1">
                    <table class="bordered">
                        <thead>
                            <tr>
                                <th data-field="id">Usuario</th>
                                <th data-field="name">Tema</th>
                                <th data-field="price">Categoria</th>
                                <th data-field="price">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                    {% for question in questions %}
                            <tr>
                                <td>
                                    <img class="circle img" src="{{question.user.url_foto}}" alt="">
                                    <a class="vertical-m" href="#">{{question.user.displayName}} </a>
                                </td>
                                <td><a href="question/{{question.slug}}">{{question.title}}</a></td>
                                <td></td>
                                <td>{{question.created|date('Y-m-d')}}</td>
                            </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="test2" class="col s12">Test 2 funciona</div>
            <div id="test3" class="col s12">Test 3</div>
        </div>
    </div>
</section>
{% endblock %}
