{% extends '../base.html' %} 

{% block content %}
<header>
    <div class="image">
        <div class="container">
            <div class="row">
                <div class="col s12 center-align move-down">
                    <h2>Bienvenido a Hackask!</h2>
                    <h3>Sistema de discucion para programadores</h3>
                    <a data-scroll href="#coments" class="waves-effect waves-light btn">Comentarios</a>
                    <a class="waves-effect waves-light btn">Chat</a>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="coments">
    <div class="container">
        <div class="row">
            <div class="cols 12 center-align">
                <h4>Sistema de discuciones para programadores</h4>
                <!-- Modal Trigger -->
                <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Formula tu pregunta.</a>
                <!-- Modal Structure -->
                <div id="modal1" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Pregunta</h4>
                        <p>Pregunta lo que quieras!</p>
                        <br>
                        <div class="row">
                            <form class="col s12" method='post' action="/save-question">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="last_name" name="title" type="text" class="validate">
                                        <label for="last_name">Titulo</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea id="textarea1" name="content" class="materialize-textarea"></textarea>
                                        <label for="textarea1" >Contenido</label>
                                    </div>
                                </div>
                                    <button type='submit' class="waves-effect waves-light btn">Agregar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col s8">
                <ul class="tabs tabs-color">
                    <li class="tab col s3"><a href="#test1">Todos</a></li>
                    <li class="tab col s3"><a class="active" href="#test2">Top 5</a></li>
                    <li class="tab col s3"><a href="#test3">Favoritos</a></li>
                </ul>
                <br>
            </div>
        </div>
        <div class="row">
            <div id="test1">
                <div class="valign-wrapper col s12">
                    <div class="col s2">
                        <a href="" class="left-aling ">
                            <img class="circle img" src="/img/user3-128x128.jpg" alt="">
                        </a>
                    </div>
                    <div class="col s8">
                        <h5 class="valign"><a href="#">Nombre del usuario </a><small class="right">12 Minutes Ago</small></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex pariatur animi, explicabo temporibus dignissimos, ea ipsum adipisci iure alias itaque nobis expedita</p>
                        <div class="right">
                            <a class="waves-effect waves-light btn">Favorito</a>
                            <a class="waves-effect waves-light btn">Me gusta</a>
                        </div>
                    </div>
                </div>
                <br>
                <hr class="edit-hr">
                <div class="valign-wrapper col s12">
                    <div class="col s2">
                        <a href="" class="left-aling ">
                            <img class="circle img" src="/img/user3-128x128.jpg" alt="">
                        </a>
                    </div>
                    <div class="col s8">
                        <h5 class="valign"><a href="#">Nombre del usuario</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex pariatur animi, explicabo temporibus dignissimos, ea ipsum adipisci iure alias itaque nobis expedita</p>
                        <div class="right">
                            <a class="waves-effect waves-light btn">Favorito</a>
                            <a class="waves-effect waves-light btn">Me gusta</a>
                        </div>
                    </div>
                </div>
                <br>
                <hr class="edit-hr">
                <div class="valign-wrapper col s12">
                    <div class="col s2">
                        <a href="" class="left-aling ">
                            <img class="circle img" src="/img/user3-128x128.jpg" alt="">
                        </a>
                    </div>
                    <div class="col s8">
                        <h5 class="valign"><a href="#">Nombre del usuario</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex pariatur animi, explicabo temporibus dignissimos, ea ipsum adipisci iure alias itaque nobis expedita</p>
                        <div class="right">
                            <a class="waves-effect waves-light btn">Favorito</a>
                            <a class="waves-effect waves-light btn">Me gusta</a>
                        </div>
                    </div>
                </div>
                <br>
                <hr class="edit-hr">
            </div>
            <div id="test2" class="col s12">Test 2 funciona</div>
            <div id="test3" class="col s12">Test 3</div>
        </div>
    </div>
</section>
{% endblock %}
