{% extends '../base.html' %} 

{% block content %}
<br>
<br>
<div class="container">
    <div class="row center-align">
        <form class="col s6 offset-s3" method='POST' action="/login">
                <div class="input-field col s12">
                    <input placeholder="Placeholder" id="last_name" type="text" name='email' class="validate">
                    <label for="last_name">Email</label> <br>
                </div>
                <div class="input-field col s12">
                    <input placeholder="Placeholder" id="password" type="password" name='password' class="validate">
                    <label for="password">Password</label>
                </div>
                <button type='submit' class="waves-effect waves-light btn">Iniciar sesion</button> <br> <br>
                <a href="/auth/facebook" class="waves-effect waves-light btn">Iniciar sesion con facebook</a>
        </form>
    </div>
</div>
{% endblock %}