{% extends '../base.html' %} {% block content %}
<br>
<br>
<div class="container center-align">
    <div class="row">
        <form class="col s6 offset-s3" method='POST'>
                <div class="input-field col s12">
                    <input id="last_name" type="text" name='first_name' class="validate">
                    <label for="last_name">Nombre</label>
                </div>
                <div class="input-field col s12">
                    <input id="last_name" type="text" name='last_name' class="validate">
                    <label for="last_name">Apellido</label>
                </div>
                    <div class="input-field col s12">
                    <input  type="text" name='displayName' class="validate">
                    <label>Nombre de usuario</label>
                </div>
                <div class="input-field col s12">
                    <input  type="email" name='email' class="validate">
                    <label >Email</label>
                </div>
                <div class="input-field col s12">
                    <input  type="password" name='password' class="validate">
                    <label >Password</label>
                </div>
                <button type='submit' class="waves-effect waves-light btn">Registrarse</button>
        </form>
    </div>
</div>
{% endblock %}
